/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* Starts Here*/

body{
	font-family: "Arial",sans-serif;
	font-weight:100;
}

a, a:visited{
	color:#fff;
}

a:hover{
	text-decoration:none;
	color:#aaa;
}

.hide{
	display: none;
}


header nav{
	max-height:48px;
	width:100%;
	background:#000;
}

header .menu-list{
	width:86%;
	margin: 0 7%;
	max-height:48px;
	display: flex;
	align-items: center;
}

header .menu-list > li{
	color:#fff;
	font-size: 17px;
	align-self:center;
	flex:2;
	text-align: center;
	cursor:pointer;
}

header li a:visited{
	text-decoration: none;
}

#apple-logo, #search-icon, #shopping-bag{
	flex:1.5;
}



.toggleNav{
	display:none;
}



#search-icon{
	position: relative;
}

.search-sideway{
	height:48px;
	width:100vw;
	position:absolute;
	top:0;
	right:0;
	background-color: #000;
	z-index: 2;
}

.search-content{
	width:90%;
	margin-left: 8.5%;
	display: flex;
}

.search-sideway #search-apple{
	flex:1;
}

.search-sideway #s-icon{
	flex:1;

	width:50px;
	margin-left:90px;

}

.search-sideway .gcse-searchbar{
	flex:15;
	float:left;
	padding:0;
	height:48px;
	margin-left:-5px;
	border:none;
	background: #000;
	color:#ccc;
}


#close-btn{
	flex:3;
	height:40px;
	width:48px;
	margin-top:4px;
	margin-right:20px;
	float:right;


}

.search-sideway #close-btn span{
	height:1px;
	width:18px;
	background: white;
	display:block;
	margin-left:56px;
	margin-top:11px;
	vertical-align:baseline;
}

.search-sideway #close-btn #close-left{
	transform:rotate(45deg);
	transform-origin: 0 100%;
	margin-bottom: 12px;
}

.search-sideway #close-btn #close-right{
	transform:rotate(-45deg);
	transform-origin: 0 100%;
}

/*Google Search box*/
#___gcse_0, .gsc-control-cse, .gsc-control-wrapper-cse, .gsc-search-box, .gsc-input{
	height:48px;
	width:82%;
	padding:0 !important;
	border:none !important;
	margin:0 !important;
}


.gsc-input, .cse input.gsc-input, input.gsc-input{
	background:#000 !important;
	border:0px solid gray !important;
	padding:0 !important;
	width:100% !important;
	text-indent:0 !important;
}



.gsc-search-button{
	background: #000;
	width:50px !important;
}


.gsc-clear-button{
	display:none;
}


#shopping-bag{
	position: relative;
}

.shopbag-dropdown{
	width:290px;
	height:auto;
	background: #f9f9f9;
	border-radius: 2px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
	position: absolute;
	top:48px;
	right:0;
	margin-right: 1px;
}

.shopbag-dropdown p{
	color:#888;
	font-size:15px;
	line-height: 17px;
	padding:40px 0;
}

.shopbag-dropdown svg{
	vertical-align: middle;
}

.shopbag-dropdown a{
	color:#0070c9;
	font-size:15px;
	line-height: 48px;
	padding-left:8px;
	vertical-align: middle;
}

.shopbag-dropdown ul{
	display:block;
}

.shopbag-dropdown ul li{
	border-top: 0.1px solid #ccc;
	text-align: left;
	margin: 0 8%;
}




#iphone7{
	width:100%;
	height:580px;
	background: #fafafa;
}

#iphone7 h1, #iphone7 h2{
	color:#000;
	line-height: 50px;
	text-align: center;
}

#iphone7 h2{
	font-size: 32px;
	padding-top:4%;
	font-weight:500;
	letter-spacing:0.11em;
}

#iphone7 h1{
	font-size: 48px;
	letter-spacing:0.006em;
	font-weight:500;
}

#iphone7 img{
	width: 63vw;
	margin: 90px 18.5vw 0;
}


#img-links{
	margin-top:2px;
}

#img-links img{
	width:100%;
}


#img-links ul{
	display:flex;
	flex-wrap:wrap;
	width:100%;
}

#img-links li{
	width:25%;
	flex:1;
}

footer{
	background:#f0f0f0;
	width:100%;
	padding:10px 0;
}

footer nav, #footer-info{
	width:70%;
	margin-left:15%;
}

footer nav{
	display:flex;
	justify-content: space-between;
}

footer .panel{
	background:#f0f0f0;
}

footer nav li a{
	font-size:12px;
	line-height: 23px;
	color:#999;
}

footer a:visited{
	color:#777;
}


#footer-info, #footer-info a{
	margin:35px auto 20px;
	font-size:11px;
	line-height: 21px;
	color:#bbb;
}

#footer-info p a, #footer-info p a:visited,#footer-info p a:hover{
	color:#0070c9;
}

#footer-info p a:hover{
	text-decoration:underline;
}

hr{
	margin:6px auto;
	height: 1px;
  background: #ccc;
}

#copyright{
	display: flex;
	flex-wrap: wrap;
}

#policy{
	flex:5;
	/* width: 450px; */
}

#policy li{
	display:inline-block;
}

#copy{
	padding-right:27px;
	/* width: 235px; */
}

#country{
	margin:auto 3px;
	flex:1;
	/* width: 99px; */
}

#country img{
	width:15px;
	height:15px;
}



.copyright-links{
	padding:0 5px;
}

.accordion{
	width:100%;
	text-align: left;
	border:none;
	background: inherit;
	font-size:12px;
	font-weight: 400;
	line-height: 30px;
	color:#777;
	margin-top:0;
	padding:0;
	outline:none;
}




@media (max-width:1024px){
	header .menu-list{
		width:100%;
		margin: 0;
	}

	#iphone7{
		height:550px;
		background-size:100% 550px;
	}

	footer nav, #footer-info{
		width:94%;
		margin-left:3%;
	}

}

@media (max-width:768px){

	.toggleNav, .toggleNav > ul{
		display:block;
		height:48px;
		width:100%;
	}

	.toggleNav > ul{
		position: relative;
	}

	.toggleNav > ul > li{
		display: inline-block;
		text-align: center;
		width:48px;
		height:48px;
		font-size: 28px;
		cursor:pointer;
	}



	.toggleNav span{
		height:1px;
		width:17px;
		background: white;
		display:block;
		text-align: center;
		vertical-align:baseline;
		margin-left: 36%;
		transition: 0.2s;
	}

	.toggleNav span:first-of-type{
		margin-top:40%;


	}



	.toggleNav span:last-of-type{
		margin-top:6px;
	}

	.toggleNav span.first-span-transform{
		transform:rotate(45deg);
		transform-origin: 0 0;
		margin-top:16px;
		margin-left:20px;
	}


	.toggleNav span.last-span-transform{
		transform:rotate(-45deg);
		transform-origin: 0 100%;
		margin-top:11px;
		margin-left:20px;
	}

	.toggleNav .menu-dropdown{
		position: absolute;
		top:48px;
		left:0;
		width:100vw;
		height:100vh;
		background: #000;
		text-align: left;
		padding-top:8px;
		z-index: 1;
	}

	.toggleNav .menu-dropdown > ul > li{
		margin: 0 45px;
		line-height: 36px;
		border-bottom:1px solid #333;
		padding:2px 0;
	}

	.toggleNav .menu-dropdown a{
		font-size:16px;
		font-weight:100;
		font-family: sans-serif;
		letter-spacing: 0.4px;
	}

	.gcse-dropdown-searchbar{
		display: flex;
	}

	.toggleNav svg{
		font-size: 36px;
		margin: 1px 10px 0 0;
	}


	.toggleNav .gsc-search-button{
		display:none;
	}


	.toggleNav .xsmenu-apple{
		position: absolute;
		top:0;
		left:43%;


	}

	.toggleNav .xsmenu-bag{
		position: absolute;
		top:0;
		right:0;

	}


	header .menu-list{
		display:none;

	}

	/*DropDowns*/
	.shopbag-dropdown{
		right:2px;
	}


	.shopbag-dropdown li{
		display:block;
	}

	.toggleNav #xs-shopping-bag{
		float:right;
	}



	#iphone7{
		height:420px;
		background-size:100% 420px;
	}

	#iphone7 h1{
		line-height: 40px;
		font-size: 45px;

	}

	#iphone7 h2{
		line-height: 40px;
		font-size: 26px;
		padding-top:3%;
	}

	#iphone7 img{
		width: 80vw;
		margin: 90px 10vw 0;
	}



	#img-links li{
		flex:1 1 50%;
	}



	footer nav{
		flex-direction: column;
	}

	.accordion{
		display:block;
	}

	.accordion{
		border-bottom: 0.5px solid #ccc;
		padding:10px auto;
		font-size:12px;
		font-weight: 400;
		line-height: 30px;
		margin-top:0;
		transition: 0.5s;

	}


	.accordion:hover{
		color:#000;
	}

	.accordion:focus{
		outline: none;
	}

	.accordion:after{
		content: '\002B';
		color: #777;
	  float: right;
	  margin-left: 5px;
	}

	.active:after {
	  content: "\2212";
	}

	.panel{
		display:none;
		background: inherit;
		padding:5px 0 15px 15px;
		margin-bottom: 0;
		border:none;
		border-bottom:0.5px solid #ccc;
		font-size: 1em;
		transition: display 0.2s ease-out;
	}

	#shop hr{
		display: none;
	}

	#policy{
		width: 100%;
		margin-left: -4px;
	}

	#copy{
		width: 100%;
	}

}

@media (max-width:500px){
	#iphone7{
		height:360px;
		background-size:160% 500px;
		background-position: center;
	}

	#iphone7 h1{
		font-size: 38px;
	}

	#iphone7 h2{
		font-size: 21px;
		padding-top:3.5%;
	}

	#img-links li{
		flex:1 1 100%;
	}

	#copy, #policy,#country{
		margin-top: 5px;
	}

	#policy,#country{
		flex:1 1 100%;
	}

	#country{
		margin: 5px 0 5px -2px;
	}




}

@media (max-width:420px){
	.shopbag-dropdown{
		width:100vw;
		right:0px;

	}
}
